.App {
    padding-top: 4rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    min-height: 120vh;
    background-color: #f99b9b;
}

nav {
    background-color: #f10e0e;
}

#pokemon-image {
    width: 6em;
    height: 6em;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.94);
    -moz-user-select: none;
    -website-user-select: none;
    user-select: none;
    -moz-user-select: none;

}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.26), 0 10px 10px rgba(0, 0, 0, .22);
}

#pokemon-link {
    text-decoration: none;
    color: black;
}

#pokemon-link:hover #pokemon-link:visited #pokemon-link:focus #pokemon-link:link #pokemon-link:active {
    text-decoration: none;
}

small {
    color: black;
}

.progress {
    height:25px;
}

.progress-bar {
    border-radius: 10px
}